/* 
    Created on : 25 juin 2018, 15:53:14
    Author     : Antoine
*/


body{
    
}

.col-xs-12 {
  background-color: #fff;
}

/*navbar top*/
nav{
    border: 1px solid blue;
}

.navbar h1{
    margin-top:  7px;
    font-family: verdana;
    font-size: 26px;
}



/*sidebare*/
#sidebar {
  
  background-color: lightblue;
  border-radius: 10px;
  height: 100%;
  padding-right: 1px;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
  border: 1px solid blue;
}
#sidebar input {
    margin: 1%;
}

 /*centre*/
#main{
    padding-top: 20px;
    border: 1px solid blue;
}

#main, #myCarousel{
    background-color: darkcyan;
}
 /*carousel*/
 #myCarousel{
    height: 650px;
 }
 #myCarousel .carousel-item{
     padding: 2%;
     margin-left: 11%;
     
 }
 #myCarousel .imgCar{
     display: inline-block;
     width:  30%;
     height: 250px;
     margin : 5px;
     padding: 5px;
     background-color: white;
     border: 1px solid lightgray;
     overflow: hidden;
 }
 
 /* overlay */
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
 #myCarousel .imgCar:hover .overlay{
     opacity: 1;
 }
 
 #myCarousel a img{
    width: 100%;
 }
 
.btnCar {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 5px 6px 11px #666666;
  -moz-box-shadow: 5px 6px 11px #666666;
  box-shadow: 5px 6px 11px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 31px;
  background: #a8a8a8;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}
.btnCar:hover {
  background: #949494;
  text-decoration: none;
}

    /*fin carousel*/

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

